.ad-banner-single{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-top: 16px;
}
.ad-banner-single-item img{
    object-fit: cover;
    width: 1330px;
    height: 167px;
    border-radius: 16px;
    margin-bottom: 16px;
}