.best-seller-container{
    width: 100%;
    height: 405px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    .best-seller-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        max-width: 1330px;
        border: 1px solid #e0e0e2;
        border-radius: 16px;
        .best-seller-slide-container{
            height: 33.33%;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 3px;
            .best-seller-item-image{
                width: 86px;
                height: 86px;
                margin: 0 0 0 15px;
            }
            .best-seller-num{
                font-size: 26px;
                margin: 0 0 0 12px;
                color: #19bfd3;
                font-weight: 900;
                line-height: 2.1;
                font-family: Dg bold;
            }
            .best-seller-caption{
                display: -webkit-box;
                height: 100%;
                margin: 0 0 0 10px;
                align-content: center;
                color: #3f4064;
                font-size: 12px;
                font-family: Dg medium;
                font-weight: 400;
                opacity: 0.85;
                line-height: 2.17;
                text-align: right;
                -webkit-box-orient: vertical !important;
                box-orient: vertical !important;
                line-clamp: 2 !important;
                -webkit-line-clamp: 2 !important;
                overflow: hidden;
            }
        }
        .best-seller-heading{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 5px;
            margin: 25px 0 0 0;
            .svg-best-seller-heading{
                margin-top: 3px;
                width: 24px;
                height: 24px;
                align-items: flex-start;
            }
            .best-seller-heading-title{
                display: flex;
                justify-content: center;
                align-items: flex-end;
                font-family: Dg medium;
                font-size: 21px;
                font-weight: 500;
                color: #0c0c0c;
            }
        }
        .swiper {
            width: 100%;
            height: 330px;
            padding: 16px 8px;
          }
        
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .swiper-button-prev, .swiper-rtl .swiper-button-next{
            width: 40px;
            height: 40px;
            background-color: #fff;
            border-radius: 50%;
            border: 0.5px solid #C9CACD;
        }
        .swiper-button-prev::after, .swiper-rtl .swiper-button-next::after{
            color: #424750;
            font-size: 18px;
        }
   }

}
.best-one, .best-two{
    border-bottom: 1.5px solid #f0f0f1;
}
