footer{
 border-top: 1px solid #f0f0f1;
 margin: 48px 0 0;
 padding: 32px 20px;
 .footer-one{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .footer-one-digikala-img{
        width: 195px;
        height: 90px;
    }
    .footer-one-return-botton{
        all: unset;
        display: flex;
        gap: 8px;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        border: 1px solid #e0e0e2;
        border-radius: 8px;
        padding: 7px 15px;
        .footer-one-botton-text{
            color: #a1a3a8;
            font-family: Dg medium;
            font-size: 12px;
        }
        .footer-one-botton-svg{
            width: 24px;
            height: 24px;
        }
    }
  }
  .footer-support{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    margin-bottom: 35px;
    .footer-support-phone{
        font-family: Dg medium;
        font-size: 12px;
        color: #3f4064;
        font-weight: 400;
    }
    .footer-line{
        width: 1px;
        height: 10px;
        background-color: #a1a3a8;
    }
  }
  .footer-two{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .footer-two-link{
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer-two-img{
            width: 56px;
            height: 56px;
            margin-bottom: 5px;
        }
        .footer-two-caption{
            color: #3f4064;
            font-family: Dg medium;
            font-size: 11px;
            opacity: 0.8;
        }
    }
  }
}
.position-fixed-left{
    width: 135px;
    height: 53px;
    background-color: #029a49;
    z-index: 4;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 16px;
    bottom: 32px;
    border-radius: 28px;
    gap: 8px;
    .position-fixed-left-text{
        font-size: 15px;
        font-family: Dg medium;
        font-weight: 700;
        line-height: 2.15;
        color: #fff;
    }
    .position-fixed-left-svg{
        width: 22px;
        height: 22px;
    }
}
.position-fixed-right{
    width: 48px;
    height: 48px;
    z-index: 1;
    position: fixed;
    right: 50px;
    bottom: 32px;
    background-color: #ef4056;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2.5rem;
    padding: 12px;
}